<footer>
    <div class = "footer-items">
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
        </div>
        <div>
            <i class="fa-brands fa-instagram"></i>
            <h4>
                Instagram
            </h4>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <h4>
                +54 9 379 409 2764
            </h4>
        </div>
        <div>
            <i class="fas fa-truck"></i>
            <h4>
                Envíos a todo el país
            </h4>
        </div>
    </div>
    <p class = "end-footer">
        Copyright € 1999-2020 Ovaflowers S.R.L.
    </p>
</footer>