<header>
    <p><a href="/shoppingcart">Carrito de compras <i class="fa-solid fa-cart-shopping"></i></a></p>
    <div class="top-header">
        <div class="logo"> 
            <!-- <img src="images/ova-logo.jpg" width="150" height="150" alt="Logo-Ova"> -->
            <div class="col-7 col-md-6">
				<form action="/search" method="GET" class="search-form">
					<input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
					<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
				</form>
			</div>
        </div>
    </div>
    <nav class="contenedor-nav">
        <ul>
            <li><a href="#">Remeras</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Llaveros</a></li>
            <li><a href="/products/create">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <% if (locals.isLogged) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/usuarios/<%= locals.userLogged.imagen %>" width="40" style="border-radius: 100%;">
                        Hi <%= locals.userLogged.nombre %> 
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/profile">My profile</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </ul>
                </li>
            <% } else { %>
                <li><a href="/users/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/">Home <i class="fa-solid fa-house-user"></i></a></li>
            <% } %>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>