<head>
    <meta charset="UTF-8">
    <title>Ovaflowers - carrito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/stylesShoppingCart.css"> 
      </head>
<body>
    <header class="titulo">
        <div class="top-header">
            <h1 class="hide" id="cart-title" data-i18n="shoppingCart" data-bind="fadeVisible: inCart() &amp;&amp; !sac.isActive()" style="display: block;">Carrito de compras</h1>
       </header>
<main class="container">
    <img src="images/remera-sq.13.jpg" width="600" height="600" alt="remera">
    </div>
    <div class="right-column">
      <div class="product-description">
        <span>Remera</span>
        <h2>Corazón delator</h2>
        <p>Remera en color blanco. material algodón. Talle: M</p>
      </div>
      <h2>Total:</h2>
        <br>
        <span>$2.100</span>
      
        <div class="product-price">
            <br>
        <a href="/finalizar" class="cart-btn">Finalizar Compra</a>
         </div>
         <br>
         <div class="product-price">
            <a href="/seguir" class="cart-btn2">Seguir Comprando</a>
        </div>
    </div>
  </main>
  
  <footer>
    <div class="footer-items">
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
        </div>
        <div>
            <i class="fa-brands fa-instagram"></i>
            <h4>
                Instagram
            </h4>
        </div>
        <div>
            <i class="fa-solid fa-phone"></i>
            <h4>
                +54 9 379 409 2764
            </h4>
        </div>
        <div>
            <i class="fas fa-truck"></i>
            <h4>
                Envíos a todo el país
            </h4>
        </div>
    </div>
    <p class="end-footer">
        Copyright € 1999-2020 Ovaflowers S.R.L.
    </p>
</footer>

    </body>
</html>
